/* DEFAULT CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 200vh;
    font-family: 'Open Sans';
}

.container {
    max-width: 1140px;
    height: auto;
    margin: 40px auto;
    padding: 20px;
}

.clear {
    content: "";
    display: table;
    clear: both;
}

/* NAVBAR */

nav {
    padding: 15px 0px;
    height: 130px;
    margin-bottom: 5px;
    background-color: #fff;
    text-align: center;
    position: fixed;
    width: 100%;
}

.bahasa {
    position: absolute;
    right: 130px;
    top: 20px;
}

.bahasa a {
    float: left;
    margin-left: 8px;
}

nav ul {
    list-style-type: none;
    margin-top: 5px;
    padding: 0;
    overflow: hidden;
}
  
nav li {
    float: left;
    padding: 4px 5px 4px 5px;
    border-left: 1px solid #bfbfbf;
}


nav .navbar {
    margin-left: 280px;
}

nav li a {
    padding: 4px 20px 4px 5px;
    text-transform: uppercase;
    font-size: 13px;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
}
  
nav li a:hover {
    color: #CA7D71;
}

nav .search {
    position: absolute;
    top: 70px;
    right: 250px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    background: url(../img/search.png) right no-repeat;
    padding: 10px 30px 10px 10px;
    cursor: pointer;
    color: #ffc20f;
    size: 14px;
}

  /* FOOTER */
footer {
    padding: 20px 50px;
    width: 85%;
    height: 200px;
    margin-left: 100px;
    /* margin-top: -50px; */
    background-color: #ffc20f;
    color: #000;
    font-size: 13px;
}

footer .follow_us {
    margin-left: 40px;
}
footer .official_store {
    margin-left: 40px;
}


footer ul li {
    list-style: none;
    margin-top:5px;
}
footer ul li a {
    text-decoration: none;
    color: #000;
  }
footer ul li a:hover {
    text-decoration: underline;
    color: #000;
  }
  footer div {
    float: left;
    width: 200px;
  }

  footer .official_store {
    width: 22%;
  }

  footer .official_store ul {
    display: block;
  }

  footer .official_store ul li {
   float: left;
   height: 30px;
  }

  footer .official_store img {
    width: 80px;
  }


  
.banner {
	margin-top: 100px;
	width: 100%;
	height: 500px;
	display: inline-block;
	background-size: cover;
	background-image: url('../img/banner.jpg');
	background-position: center;
	background-repeat: no-repeat;
    animation: animasi 20s infinite;
  }
  /* ANIMASI BACKGROUND BIAR KEREN :D */
  @keyframes animasi {
    0% {
        background-image: url('../img/banner.jpg');
    }
	20% {
	  background-image: url('../img/banner_2.jpg');
	}
	40% {
	  background-image: url('../img/banner_3.jpg');
	}
	60% {
	  background-image: url('../img/banner_4.jpg');
	}
	80% {
	  background-image: url('../img/banner_5.jpg');
	}
	100% {
		background-image: url('../img/banner.jpg');
	}
}

section.bagian_1  {
    padding-top: 40px;
}

section.bagian_1 h1 {
    text-align: center;
    font-size: 18px;
}

.bagian_1 div.galeri {
    /* margin-left: 80px; */
    /* background-color: red; */
    width: 100%;
    height: 400px;
    padding: 10px 20px 0 80px;

}

.bagian_1 div.gallery {
    margin-left: 20px;
    border: 2px solid #ffc316;
    float: left;
    width: 250px;
    height: 350px;
}
  .bagian_1 div.gallery img {
    width: 100%;
    height: 250px;
  }
  
  .bagian_1 div.desc {
    padding: 15px;
    text-align: center;
  }

  section.bagian_2  {
    padding-top: 40px;
}

section.bagian_2 h1 {
    text-align: center;
    font-size: 18px;
}

.bagian_2 div.galeri {
    /* margin-left: 80px; */
    /* background-color: red; */
    width: 100%;
    height: 300px;
    padding: 10px 20px 0 80px;

}

.bagian_2 div.gallery {
    margin-left: 20px;
    border: 2px solid #ffc316;
    float: left;
    width: 250px;
    height: 250px;
    text-align: center;
}
  .bagian_2 div.gallery img {
    width: 150px;
    height: 150px;
  }
  
  .bagian_2 div.desc {
    padding: 15px;
    text-align: center;
  }

